// 主题色
$mainColor:#66CE9B;

// 主背景色
$mainBg:#FFFFFF;

// 辅助背景色
$assistBg:#F2F2F2;

// 详情背景色
$detailBg:#294B66;

// 字体激活颜色
$activeColor:#FFFFFF;

// 字体不激活颜色
$inActiveColor:#666666;

// 字体辅助色
$assistColor:#FAAF00;

// 默认字体颜色
$defaultColor:#0D0D0D;

// 价格字体颜色
$priceFontColor: #f03d37;

// 边框颜色
$borderColor:#D8D8D8;

// 主边距
$margin: 12px;

// 辅助边距
$assistMargin: 15px;

// tabBar栏背景色
$tabBarBg:#FFFFFF;
